.navbar {
  background-color: #021325 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link,.navbar-brand{
  color: #fff;
}

/* main body */

.mainBody {
  padding-top: 70px;
  min-height: 94vh;
}

footer {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.App-logo {
  height: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}